

header {
    position: relative;
    width: 100%;
}
.header-info-bar {
    background-color: transparent;
    padding-block: 0.875rem;
    padding-inline: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.nav-divider {
    background-color: rgba(0, 0, 0, .2);
    width: 1px;
    height: 18px;
}
.nav-wrapper {
    grid-column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
body {
    overflow: auto;
}
body.hamburger-open {
    overflow: hidden;
}
body.hamburger-open header {
    position: fixed;
    background-color: var(--clr-black);
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
}
body.hamburger .header_branding,
.hamburger.active + .header_primary-navigation {
    padding: 1rem 0;
}
.header_logo__mobile {
    display: none;
}
body.hamburger-open .header_logo__mobile {
    display: block;
}
body.hamburger-open .header_logo__desktop,
body.hamburger-open .hide {
    display: none;
}
.header-element {
    font-size: var(--fs-380);
    color: var(--clr-black);
    font-style: normal;
}
.header-info--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-contact--list,
.social-media--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.25rem;
}

.header_primary-navigation {
    margin-inline: auto 2rem;
}

.header_link {
    font-size: var(--fs-380);
    font-weight: var(--fw-medium);
    letter-spacing: var(--ls-05);
    text-transform: capitalize;
    color: var(--clr-black);
    text-decoration: none;
    position: relative;
    transition: all 0.3s var(--expo-smoothing);
}
.header_link.active {
    color: var(--clr-black);
    transition: all 0.3s var(--expo-smoothing);
}
.header_link.active::after {
    content: '';
    display: block;
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s var(--expo-smoothing);
}

.header_branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 1.5rem 0;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.link-button {
    font-size: var(--fs-380);
    color: var(--clr-black);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
}

a.link-button:before {
    content: '';
    display: block;
    background-color: #c8e4f6;
    width: 100%;
    height: 0.125rem;
    position: absolute;
    bottom: -0.0625rem;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s var(--expo-smoothing) 0s;
}
a.link-button:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.hamburger-menu {
    display: none;
    margin-left: 0;
    padding: 0;
}
.hamburger-menu .top-line,
.hamburger-menu .middle-line,
.hamburger-menu .bottom-line {
    width: 26px;
    height: 1px;
    background-color: #000;
    background-attachment: scroll !important;
    transition: all 300ms var(--expo-smoothing);
}
.hamburger-menu .top-line {
    margin-bottom: 6px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.hamburger-menu .bottom-line {
    margin-top: 6px;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.hamburger-menu.is-active .top-line {
    transition: all 400ms var(--expo-smoothing);
    transform: translate3d(0px, 7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.hamburger-menu.is-active .bottom-line {
    transition: all 400ms var(--expo-smoothing);
    transform: translate3d(0px, -7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}
.hamburger-menu.is-active .middle-line {
    opacity: 0;
}
.icon-dropdown{
    width: 1rem;
    height: 1rem;
}
.has-submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 26px;
    padding: 16px 24px 16px 10px;
    position: absolute;
    display: none;
    z-index: 10;
}
.dropdown-menu.hidden {
    display: none;
}
.dropdown-menu .header_link {
    font-size: var(--fs-380);
    padding: 8px 0;
    transition: transform .3s;
    display: flex;
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;

    text-decoration: none;
    position: relative;
}
.has-submenu .icon {
    width: 12px;
}

.dropdown-menu.is-active {
    display: flex;
}
.has-submenu.is-active .icon {
    transform: rotate(180deg);
    transition: all 400ms var(--expo-smoothing);
}
.has-submenu .icon {
    position: static;
    transition: all 300ms var(--expo-smoothing);
}



@media (hover: hover) and (pointer: fine) {
    .header_link:hover {
        color: var(--clr-tertiary-25);
        transition: all 300ms var(--expo-smoothing);
    }
    .header_link:hover::after {
        visibility: visible;
        transform: translateX(0);
        opacity: 1;
        transition: all 300ms var(--expo-smoothing);
    }
}
@media screen and (max-width: 1240px) {
    .header-contact {
        display: none;
    }
}
@media screen and (max-width: 980px) {

    .nav-divider {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .nav-wrapper.right-nav {
        display: none;
    }
    .hamburger-menu ~ .nav-wrapper.right-nav {

        animation: slideIn 300ms var(--expo-smoothing) reverse;
    }

    .hamburger-menu.is-active ~ .nav-wrapper.right-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        background-color:#f9f9f9;
        width: 100%;
        height: fit-content;
        left: 0;
        z-index: 10;
        padding: 2rem 1rem;
        gap: 1.25rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        transform: translateY(0);
        animation: slideIn 300ms var(--expo-smoothing);
    }
    @keyframes slideIn {
        0% {
            display: none;
            transform: translateY(-100%);
        }
        1% {
            display: flex;
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    .primary-navigation_holder {
        flex-direction: column;
        align-items: flex-start;

        gap: 1rem;
    }
    .header_primary-navigation {
        margin-inline: auto;
        width: 100%;
    }
    .nav-wrapper .nav-menu-wrap {
        margin-inline: 0 auto;
        width: 100%;
    }
    .dropdown-menu.is-active {
        position: static;
        margin-top: 0;
        padding: 0px 24px 0 10px;
    }
    .hamburger-menu.is-active ~ .nav-wrapper .header_link {
        font-size: 1.25rem;
        width: 100%;
    }
    .primary-navigation_holder li {
        width: 100%;
    }
    .dropdown-menu .header_link {
        font-size: var(--fs-380)!important;
        padding: 0.25rem 0;
    }
    .main-logo {
        width: 8rem;
    }
    .nav-wrapper .button--tertiary{
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .main-logo {
        width: 4rem;
    }

}
