.pricing-headline {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--clr-black);
}
.pricing-subheadline {
    font-size: 1.15rem;
    margin-block: 1rem;
}
.search-box {
    margin-block: 0 2rem;
}
.search-box .search-input{
    max-width: 30rem;
    width: 100%;
    border-radius: 0.25rem
}
.search-result {
    margin-block: 1rem 0;
}
.query-text {
    font-weight: 500;
}
.prices-holder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.price-category-name {
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: 0 1rem;
    line-height: 1;
}

.pricing-page table {
    width: 100%;
    margin-block: 0 2rem;
}
.pricing-page table thead {
    font-weight: 700;
}
.pricing-page table thead tr {
    background-color: rgba(255,255,255, 1)!important;
}
.pricing-page table tr td {
    padding: 0.5rem;
    border: 1px solid;
}
.pricing-table td:first-of-type {
    width: 85%;
}
.pricing-page table tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}
.pricing-page table tr td:last-of-type {
    text-align: right;
}
