section.cta-banner {
    display: flex;
    grid-column-gap: 50px;
    border-radius: 0.625rem;
    padding: 5rem 3.75rem;
    background-color:#c8e4f6;
    margin-block: 2rem;
}
.divider {
    background-color: rgba(0, 0, 0, .2);
    width: 1px;
}
section.cta-banner .cta-title {
    color: var(--clr-black);
    margin-block: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}
section.cta-banner .cta-holder {
    margin-block: 2rem 0;
}
section.cta-banner .cta-holder .link {
    color: var(--clr-black);
}
section.cta-banner .cta-holder .button {
    display: flex;
    gap: 1rem;
}
section.cta-banner .cta-holder .button svg {
    z-index: 2;
    position: relative;
}
@media screen and (max-width: 980px) {
    section.cta-banner {
        padding: 1.5rem;
        flex-direction: column;
        gap: 2rem;
    }
    .divider {
        width: 100%;
        height: 2px;
    }
    section.cta-banner .cta-holder .button {
        padding-inline: 0.5rem;
    }
}
