footer {
    background-color: #040415;
    color: #d9d9d9;
}

.brand-details {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.brand-details p {
    color: #d9d9d9;
    max-width: 38ch;
    font-size: 0.875rem;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 3.75rem 2.5rem;

}
.footer_navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}
.footer-navigation_holder {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: self-start;*/
    /*justify-items: self-start;*/
    /*gap: 0.75rem 0;*/
    /*min-height: 10.125rem;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18ch, 1fr));
    gap: 0 4rem;
}
.footer-navigation_holder li {
    color: #ffffff;
}
.footer-navigation_holder li:nth-of-type(odd) {
    grid-column: 1/2;
}
.footer-navigation_holder li:nth-of-type(even) {
    grid-column: 2/3;
}
.link-number {
    font-size: 16px;
    font-weight: 500;
}
.footer-navigation_holder li:hover {
    color: #c8e4f6;
}
.footer-navigation_holder li:hover .footer_link {
    color: #c8e4f6;
    border-bottom: 1px solid #c8e4f6;
}
.footer-navigation-legal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}
.footer-navigation-legal a {
    color: #d9d9d9;
}
.footer_copyright-content {
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
}
.social-media {
    max-width: fit-content;
}
.social-media--list a {
    background-color: hsl(0, 0%, 70%, 0.25);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    transition: all 400ms var(--expo-smoothing);
}
.social-media--list a:hover {
    background-color: hsl(0, 0%, 28.6%);
    transition: all 600ms var(--expo-smoothing);
}
.social-media--list a:hover .social-icon {
    --_icon-color:var(--clr-tertiary);
    transition: all 600ms var(--expo-smoothing);
}
.social-icon {
    --_icon-color: var(--clr-white, hsl(0, 0%, 100%));

}
.social-icon i {
    font-size: var(--fs-400);
    color: var(--_icon-color);
    transition: all 400ms var(--expo-smoothing);
}


.social-icon.clr-tertiary {
    --_icon-color: var(--clr-tertiary);
}

.social-icon:hover {
    --_icon-color: var(--clr-brand-50);
    transition: all 300ms var(--expo-smoothing);
}
.social-icon.clr-white:hover {
    --_icon-color: var(--clr-brand-50);
}
.social-icon.clr-tertiary:hover {
    --_icon-color: var(--clr-grey-20);
}
.social-media--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.25rem;
}

.footer_copyright {
    border-top:1px solid rgba(255, 255, 255, .2);
}
.footer_navigation .footer_link {
    grid-column-gap: 20px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 12px;
    font-size: 30px;
    line-height: 150%;
    text-decoration: none;
    transition: border-color .3s;
    display: flex
}
.contact-details {
    font-size: 0.875rem;
    color: #999999;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.contact-details p {
    max-width: 24ch;
}
.contact-details .footer-link {
    display: block;
    width: fit-content;
}
.contact-details .link {
    margin-block: 1rem 0;
    width: fit-content;
}
@media screen and (max-width: 980px) {
    .footer_logo {
        max-width: 5.75rem;
        max-height: 5.75rem;
    }
    .footer_content {
        padding: 2.5rem 0;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .brand-details {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(31ch, 1fr));
    }
    .brand-details p {
        grid-column: 1/2;
    }
    .cta-holder {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .social-media {
        grid-column: 2 / 3;
    }
    .footer_navigation {
        justify-content: space-between;
        width: 100%;
        flex: 1 0 100%;
    }
    .footer-navigation_holder {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(31ch, 1fr));
    }
    .contact-details {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }
    .contact-details .link {
        margin-block: 0;
    }
}
@media screen and (max-width: 450px) {
    .brand-details .main-logo {
        width: 8rem;
    }
    .footer_logo.mobile {
        max-height: 5rem;
        margin-bottom: var(--gap-l);
    }
    .footer_content {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-block: 2.5rem 2rem;

    }
    .footer_navigation {
        align-items: self-start;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-s);
    }
    .footer-navigation_holder {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(10ch, 1fr));
        gap: 0 2rem;
    }
    .footer_navigation .footer_link {
        font-size: 1.25rem;
        grid-column-gap: 0.75rem;
    }
    .link-number {
        font-size: 0.875rem;
    }
    .footer-navigation_header {
        margin-bottom: 0;
    }
    .footer_copyright {
        padding: var(--gap-s) 0;
        flex-direction: column;
        gap: var(--gap-s) 0;
        margin-bottom: 20px;
    }
    .brand-details {
        display: flex;
    }
    .contact-details {
        gap: 1rem;
    }
    .footer-navigation-legal {
        gap: 0.5rem;
    }
    .footer-navigation-legal a {
        font-size: 0.75rem;
    }
    .footer_copyright-content {
        padding-inline: 1.25rem;
        align-items: center;
    }
    .footer_copyright-content p {
        font-size: 0.75rem;
        line-height: 1;
    }
}
@media screen and (max-width: 365px) {
}
