footer .social-icon {
    --_icon-color: var(--clr-tertiary);
}
.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 9.625rem;
    padding-bottom: 7rem;
}
.footer_navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.footer-navigation_holder {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-items: self-start;
    gap: 0.75rem 0;
    min-height: 10.125rem;
}
.footer-navigation_header {
    margin-bottom: 0.75rem;
}
.footer-navigation_header p {
    font-weight: var(--fw-bold);
}
.footer-navigation_text {
    color: var(--clr-grey-50);
}
.open-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.75rem;
    width: 100%;
}
.open-hours--holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
}
.map-holder {
    width: 100%;
}
.lazy-load-map {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}
.placeholder-map {
    max-width: 320px;
}
.footer_link {
    text-decoration: none;
}
.footer_copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--clr-black);
    border-left: none;
    border-right: none;
    padding: var(--gap-l) 0;
}
.footer_logo {
    width: 100%;
    max-width: 8.75rem;
    max-height: 10rem;
}
.footer_logo-simple {
    height: 100%;
    max-height: 4.375rem;
}
@media screen and (max-width: 920px) {
    .footer_logo {
        max-width: 5.75rem;
        max-height: 5.75rem;
    }
    .footer_content {
        padding: 2.5rem 0;
    }
}
@media screen and (max-width: 450px) {
    .footer_logo.mobile {
        max-height: 5rem;
        margin-bottom: var(--gap-l);
    }
    .footer_content {
        justify-content: space-between;
        align-items: center;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
        flex-direction: column;
    }
    .footer_navigation {
        align-items: self-start;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--gap-s);
    }
    .footer-navigation_holder {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-items: self-start;
        gap: 0.5rem 0;
        min-height: unset;
        flex: 1 1 35%;
    }
    .footer-navigation_header {
        margin-bottom: 0;
    }
    .footer_copyright {
        padding: var(--gap-s) 0;
        flex-direction: column;
        gap: var(--gap-s) 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 365px) {
}
